# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# next.js
/.next/
/out/

# production
/build

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files

# vercel
.vercel

# typescript
*.tsbuildinfo
.env.local
next-env.d.ts
I maintain quality code that adheres to industry standards and best practices. My code is maintainable, readable, and well-structured, ensuring long-term efficiency and ease of collaboration. I prioritize accuracy and effectiveness while optimizing effort, balancing performance with clarity. 